In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/Ben Bauer/Desktop/dates.csv', sep = ';') # load toy data

In [3]:
df

               From                To
0  01.01.2017 01:00  01.01.2017 05:32
1  01.01.2017 23:00  01.02.2017 01:55

In [4]:
df.dtypes # pandas doesn't recognize them as date objects

From    object
To      object
dtype: object

In [5]:
# convert them to date types
df.From = pd.to_datetime(df.From)
df.To = pd.to_datetime(df.To)

In [6]:
# some functions available to date types (https://pandas.pydata.org/pandas-docs/stable/api.html .dt)
df.From.dt.weekday_name

0    Sunday
1    Sunday
Name: From, dtype: object

In [7]:
df['default_diff'] = df.To - df.From
df

                 From                  To default_diff
0 2017-01-01 01:00:00 2017-01-01 05:32:00     04:32:00
1 2017-01-01 23:00:00 2017-01-02 01:55:00     02:55:00

In [8]:
df['minutes'] = (df['To'] - df['From']).dt.seconds/60
df

                 From                  To default_diff  minutes
0 2017-01-01 01:00:00 2017-01-01 05:32:00     04:32:00    272.0
1 2017-01-01 23:00:00 2017-01-02 01:55:00     02:55:00    175.0

In [9]:
### applying function to specific columns
df2 = pd.DataFrame({'ID':['1','2','3'], 'J1': [0,2,3], 'J2':[1,4,5]})
df2

  ID  J1  J2
0  1   0   1
1  2   2   4
2  3   3   5

In [10]:
def f(x,y):
    return x + y

df2['col_3'] = df2[['J1','J2']].apply(lambda x: f(*x), axis=1)
df2

  ID  J1  J2  col_3
0  1   0   1      1
1  2   2   4      6
2  3   3   5      8

In [11]:
# works for one row
def fun(x, y, z=15):
    if 60%z != 0:
        return 'please chose a number that is divisible by 60'
    else:
    
        start = []
        end = []
        while (x - y).total_seconds()/60 >= 0:
            y = y+pd.Timedelta(seconds=60*z)
            start.append(y-pd.Timedelta(seconds=60*z))
            end.append(y)
    return pd.DataFrame.from_dict({'From': start, 'To': end}, orient='columns')

fun(df.To[1],df.From[1], 15)

                  From                  To
0  2017-01-01 23:00:00 2017-01-01 23:15:00
1  2017-01-01 23:15:00 2017-01-01 23:30:00
2  2017-01-01 23:30:00 2017-01-01 23:45:00
3  2017-01-01 23:45:00 2017-01-02 00:00:00
4  2017-01-02 00:00:00 2017-01-02 00:15:00
5  2017-01-02 00:15:00 2017-01-02 00:30:00
6  2017-01-02 00:30:00 2017-01-02 00:45:00
7  2017-01-02 00:45:00 2017-01-02 01:00:00
8  2017-01-02 01:00:00 2017-01-02 01:15:00
9  2017-01-02 01:15:00 2017-01-02 01:30:00
10 2017-01-02 01:30:00 2017-01-02 01:45:00
11 2017-01-02 01:45:00 2017-01-02 02:00:00

In [13]:
# looping through rows and merge them
del result
result = pd.DataFrame()
for i in range(len(df.To)):
    result = result.append(fun(df.To[i],df.From[i], 15), ignore_index=True)
    
result

                  From                  To
0  2017-01-01 01:00:00 2017-01-01 01:15:00
1  2017-01-01 01:15:00 2017-01-01 01:30:00
2  2017-01-01 01:30:00 2017-01-01 01:45:00
3  2017-01-01 01:45:00 2017-01-01 02:00:00
4  2017-01-01 02:00:00 2017-01-01 02:15:00
5  2017-01-01 02:15:00 2017-01-01 02:30:00
6  2017-01-01 02:30:00 2017-01-01 02:45:00
7  2017-01-01 02:45:00 2017-01-01 03:00:00
8  2017-01-01 03:00:00 2017-01-01 03:15:00
9  2017-01-01 03:15:00 2017-01-01 03:30:00
10 2017-01-01 03:30:00 2017-01-01 03:45:00
11 2017-01-01 03:45:00 2017-01-01 04:00:00
12 2017-01-01 04:00:00 2017-01-01 04:15:00
13 2017-01-01 04:15:00 2017-01-01 04:30:00
14 2017-01-01 04:30:00 2017-01-01 04:45:00
15 2017-01-01 04:45:00 2017-01-01 05:00:00
16 2017-01-01 05:00:00 2017-01-01 05:15:00
17 2017-01-01 05:15:00 2017-01-01 05:30:00
18 2017-01-01 05:30:00 2017-01-01 05:45:00
19 2017-01-01 23:00:00 2017-01-01 23:15:00
20 2017-01-01 23:15:00 2017-01-01 23:30:00
21 2017-01-01 23:30:00 2017-01-01 23:45:00
22 2017-01-01 23:45:00 2017-01-02 00:00:00
23 2017-01-02 00:00:00 2017-01-02 00:15:00
24 2017-01-02 00:15:00 2017-01-02 00:30:00
25 2017-01-02 00:30:00 2017-01-02 00:45:00
26 2017-01-02 00:45:00 2017-01-02 01:00:00
27 2017-01-02 01:00:00 2017-01-02 01:15:00
28 2017-01-02 01:15:00 2017-01-02 01:30:00
29 2017-01-02 01:30:00 2017-01-02 01:45:00
30 2017-01-02 01:45:00 2017-01-02 02:00:00